@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');

html{
    background: rgb(32,32,32);
    height:100%;
    width: 100%;
}
body{
    
    display:flex;
    flex-direction: column;
    flex-flow: row wrap;
    color: rgb(244,244,244)
}
aside{
    flex-direction: column;
    justify-content: left;
    padding: 3px;
}

.navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(32,32,32);
}
.button{
    justify-content: right;
    border-radius: 5px 5px 0px 0px;
    margin-right: 1px;
    color: white;
    padding: 1% 5%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    background: rgb(128,128,128);

}
.button:hover{
    background-color: rgb(0,76,153);
}
.leftbutton{
    width: 64px;
    height: 64px;
}
.leftbutton:hover{
    background-color: #57F287;
    border-radius: 10px 10px 10px 10px;
    width: 64px;
    height: 64px;
}
.lbimg{
    width: 64px;
    height: 64px;
}
.lbimg:hover{
    background-color: #57F287;
    border-radius: 10px 10px 10px 10px;
    width: 64px;
    height: 64px;
}
.title{
    background: rgb(64,64,64);
    justify-content:center;

    font-family: 'VT323', monospace;
    color: rgb(0, 121, 40);
    font-size: 3em;
}


.mainText{
    background: rgb(64,64,64);
    flex: 4 1 361px;
    justify-content: center;
    padding: 5vh;
    font-family: 'Roboto', sans-serif;
    color: rgb(244,244,244);
    font-size: 1em;

}

footer {
    justify-content: flex-end;
    text-align: center;
    width: 100%;
}